* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../IMG/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


/*** NAV ***/

.fixed {
    position: fixed;
    top: 0;
}

.header {
    border-top: 1px solid white;
    background: white;
    background-image: url(../IMG/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    height: 330px;
    width: 100%;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.navi {
    height: 65px;
    width: 100%;
    z-index: 3;
    backdrop-filter: blur(10px);
    background-color: rgba(46, 139, 87, 0.5);
}

.contenido {
    width: 100%;
}

.navi li {
    margin-left: 5em;
}


/** LOGIN // REGISTER **/

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor_todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-bottom: 80px;
}

.caja_trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(46, 139, 87, 0.5);
}

.caja_trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera div button {
    margin-top: 30px;
}

.caja_trasera h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja_trasera button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja_trasera button:hover {
    background: white;
    color: rgb(46, 139, 87);
}


/* FORMULARIOS */

.contenedor_login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -195px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor_login-register form {
    width: 100%;
    padding: 80px 20px;
    background-color: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor_login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(46, 139, 87);
}

.contenedor_login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor_login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: rgb(46, 139, 87);
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario_login {
    opacity: 1;
    display: block;
}

.formulario_register {
    display: none;
}

.formulario_register i {
    color: red;
    padding-top: 10px;
    font-size: 13px;
    position: absolute;
    visibility: hidden;
}

.forumlario_login i {
    color: red;
    font-size: 13px;
    padding-top: 10px;
    position: absolute;
    visibility: hidden;
}


/*DISEÑO RESPONSIVE - FORMULARIOS*/

@media screen and (max-width: 850px) {
    section {
        margin-top: 50px;
    }
    .caja_trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja_trasera div {
        margin: 0px;
        position: absolute;
    }
    .contenedor_login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor_login-register form {
        position: relative;
    }
}


/*** WEB ***/

.contenido {
    padding: 20px 100px;
    font-weight: bold;
    font-size: 14px;
}

.texto {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgb(46, 139, 87);
    border-radius: 1%;
}

.texto h2 {
    padding-top: 10px;
    text-align: center;
    text-decoration: underline;
}

.empresa {
    font-size: 35px;
    font-weight: bolder;
    color: rgb(46, 139, 87);
    -webkit-text-stroke: 1px rgb(13, 73, 13);
}

.texto h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(46, 139, 87);
    -webkit-text-stroke: 1px rgb(13, 73, 13);
}


/* CARRUSEL */

.carousel {
    border: 2px solid rgb(46, 139, 87);
    margin: 2em 15em;
    border-radius: 1%;
}

.titulo_plato {
    color: black;
    font-weight: bold;
}

.texto2 {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(46, 139, 87);
    border-radius: 100%;
}

h2 a {
    color: rgb(46, 139, 87);
}

h2:hover a {
    cursor: pointer;
    transition: all 700ms;
    color: rgb(20, 104, 56);
    text-shadow: 0 0 30px rgb(46, 139, 87);
}


/* TABLA RECETAS */

.table_recipes th {
    font-size: 22px;
    ;
}

.table_recipes td {
    font-size: 20px;
    ;
}

.table_recipes img {
    width: 200px;
    height: 135px;
}


/*RECETAS????*/

.dish-container {
    display: flex;
}

.dish {
    width: 280px;
    margin: 10px;
}

.dish-title-container {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*.dish-title {}*/

.dish-image {
    width: 280px;
    height: 180px;
    background-size: cover;
}


/*END RECETAS?????*/


/*PLANIFICADOR*/

.btn_menu {
    display: block;
    margin: 35px auto;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    border: 3px solid rgb(46, 139, 87);
    box-shadow: inset 0 0 0 0 rgb(46, 139, 87);
    transition: ease-out 0.3s;
    outline: none;
}

.btn_menu:hover {
    box-shadow: inset 150px 0 0 0 rgb(46, 139, 87);
    cursor: pointer;
    color: white;
}

.calculator {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    width: 80%;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.calculator img {
    width: 200px;
    height: 135px;
}

.calculator td,
th {
    word-wrap: break-word;
    width: 20%;
    max-width: 20%;
}

.calculator thead tr {
    background-color: rgb(46, 139, 87);
    color: white;
    font-weight: bold;
}

.calculator td,
th {
    align-content: center;
    padding: 12px 15px;
}

.calculator tbody tr {
    border-bottom: 1px solid #dddddd;
}

.calculator tbody tr:nth-of-type(even) {
    background-color: #ccc7c7c2;
}

.calculator tbody tr:last-of-type {
    border-bottom: 2px solid rgb(46, 139, 87);
}

.calculator th {
    text-decoration: underline;
}

.kcal {
    font-size: 30px;
}


/*INICIO PIE*/

#pie {
    margin-top: 0.1em;
    height: 9em;
    backdrop-filter: blur(10px);
    background-color: rgba(46, 139, 87, 0.5);
    clear: both;
}

.pleft,
.pcenter,
.pright {
    color: aliceblue;
    float: left;
    width: 30%;
    margin-left: 2.5%;
    margin-top: 10px;
}

.pleft h3 {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0;
    margin-top: 0;
}

.pleft p {
    font-size: 13px;
    margin: 5px 0 0 0;
    padding: 0;
}

.pcenter ul {
    list-style: none;
    font-size: 13px;
    margin: 0 0 0 30px;
    padding: 0;
}

.pcenter a {
    text-decoration: none;
    color: aliceblue;
}

.pcenter {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.pcenter ul li {
    margin: 0 0 5px 0;
}

.pright img {
    margin: 6% 10%;
    width: 45px;
    height: 45px;
}
.receta_image {
    width: auto;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 300px 100px;
}
.card{
    background-repeat: inherit ;
    background-size: 300px 100px;
}


.class_1{
    height: 100%;
}
.imagen {
    
    background-size: cover;
    border: darkolivegreen 2px solid;
    width: 100%;
    height: 300px;
    text-align: center;
}


.plato_img{
    width: 42%;
    height: 40%;
}

   
.ingredientes {
    flex: 3;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;

}
.preparar {
    width: 100%;
    background-color: rgb(211, 235, 231);

}
.footer {
    width: 100%;
    background-color: rgb(168, 252, 160);
}
.footer_imagen{
    display: flex;
}
.plato_informacion{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    font-size: 30px;
    background-color: rgb(204, 243, 187);
}
.footer_imagen_element{

    flex: 1;
    background-color: rgb(243, 80, 30);
    
    height: 70px;
    text-align: center;
}

i {
    align-self: center;
    padding: 0 10px;
}
.contenedor {
    width: 100%;
    background-color: beige;
    display: block;
}


/*FIN PIE*/